.login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 60vh;
  &__title{
    font-size: 40px;
    font-weight: bold;
    color: blue;
  }
  &__user, &__pass{
    padding-bottom: 20px;
  }
  &__button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    &--btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 30px;
      border-radius: 10px;
      border: 1px solid rgba(128, 128, 128, 0.382);
      background-color: #ffff;
      font-size: 15px;
      font-weight: bold;
      color: #f8b333;
      &:hover {
        cursor: pointer;
        background-color: rgba(255, 192, 203, 0.466);
      }
    }
  }
}